.button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .button {
        background-color: #ee6b2f;
        min-width: 70px;
        height: 35px;
        color: #FFFFFF;
        border-radius: 3px;
        outline: 0;
        border: 0;
        cursor: pointer;
    }
}