.home-page {    
    background-color:#dcdcdc;;
    .header {
        display: flex;
        background-color: #313131;
        padding: 15px;
    }

    .content-body-page {
        display: flex;
        padding: 10px 100px 50px 100px;
    }
}
